@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-main: #337CCF;
    --color-second: #405C98;
    --white: #ffffff;
    --acsent-color: #47536E;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}


.section-top {
    background-color: #fff;
    padding: 10px 0;
}

.section-top .title-top {
    font-size: 25px;
    font-weight: 700;
    color: var(--color-main);
}

.section-top .img-brand {
    width: 45px;
    margin-right: 10px;
}

@media (min-width: 576px) {
    .section-top .title-top {
        font-size: 25px;
    }

    .section-top .img-brand {
        width: 45px;
    }
}

@media (min-width: 768px) {
    .section-top .title-top {
        font-size: 30px;
    }

    .section-top .img-brand {
        width: 50px;
    }
}

@media (min-width: 992px) {
    .section-top .title-top {
        font-size: 30px;
    }

    .section-top .img-brand {
        width: 50px;
    }
}

@media (min-width: 1200px) {
    .section-top .title-top {
        font-size: 30px;
    }

    .section-top .img-brand {
        width: 50px;
    }
}

@media (min-width: 1400px) {
    .section-top .title-top {
        font-size: 30px;
    }

    .section-top .img-brand {
        width: 50px;
    }
}

.section-top-home {
    padding: 10px 0;
}

.section-top-home .title-top {
    font-size: 25px;
    font-weight: 700;
    color: var(--color-main);
}

.section-top-home .img-brand {
    width: 45px;
    margin-right: 10px;
}

@media (min-width: 576px) {
    .section-top-home .title-top {
        font-size: 25px;
    }

    .section-top-home .img-brand {
        width: 45px;
    }
}

@media (min-width: 768px) {
    .section-top-home .title-top {
        font-size: 30px;
    }

    .section-top-home .img-brand {
        width: 50px;
    }
}

@media (min-width: 992px) {
    .section-top-home .title-top {
        font-size: 30px;
    }

    .section-top-home .img-brand {
        width: 50px;
    }
}

@media (min-width: 1200px) {
    .section-top-home .title-top {
        font-size: 30px;
    }

    .section-top-home .img-brand {
        width: 50px;
    }
}

@media (min-width: 1400px) {
    .section-top-home .title-top {
        font-size: 30px;
    }

    .section-top-home .img-brand {
        width: 50px;
    }
}


/* CONTENT */
.section-content {
    min-height: 600px;
}

.container-qrcode {
    margin-top: 80px;
    margin-bottom: 20px;
}

.title-rapat {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    text-align: center;
    color: var(--color-main);
}

.description-list {
    font-size: 16px;
    margin-top: 30px;
    color: var(--acsent-color);
}

.kode-rapat {
    display: flex;
    font-size: 24px;
    padding-top: 20px;
    text-align: center;
}

.kode-rapat p {
    background-color: var(--color-main);
    color: white;
    width: 120px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    margin-left: 10px;
}

.kode-rapat p:hover {
    background-color: var(--color-second);
}

.title-scan {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-main);
}

.img-qrcode {
    width: 80%;
}

.title-judul-form {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: var(--acsent-color);
    margin-bottom: 50px;
}

@media (min-width: 576px) {
    .title-rapat {
        font-size: 18px;
        line-height: 18px;
    }

    .description-list {
        font-size: 16px;
    }

    .img-qrcode {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .container-qrcode {
        margin-top: 0;
    }

    .title-rapat {
        font-size: 20px;
        line-height: 20px;
    }

    .description-list {
        font-size: 18px;
    }

    .img-qrcode {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .title-rapat {
        font-size: 25px;
        line-height: 25px;
    }

    .description-list {
        font-size: 20px;
    }

    .img-qrcode {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .title-rapat {
        font-size: 25px;
        line-height: 25px;
    }

    .description-list {
        font-size: 20px;
    }

    .img-qrcode {
        width: 75%;
    }
}

@media (min-width: 1400px) {
    .title-rapat {
        font-size: 25px;
        line-height: 25px;
    }

    .description-list {
        font-size: 20px;
    }

    .img-qrcode {
        width: 65%;
    }
}


.link-rapat:link,
.link-rapat:visited {
    border-radius: 7px;
    padding: 10px;
    border: none;
    background-color: var(--color-main);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.link-rapat:hover {
    background-color: var(--acsent-color);
}

.icon-selesai {
    color: var(--color-main);
    font-size: 240px;
}

/* FORM KODE RAPAT */
.title-deskripsi-aplikasi {
    font-size: 15px;
    font-weight: 500;
}

.img-googleplay {
    height: 70px;
}

.title-kode-rapat {
    font-size: 40px;
    font-weight: 600;
    color: var(--color-main);
}

.description-form-rapat {
    font-size: 16px;
    line-height: 20px;
    color: var(--acsent-color);
    text-align: justify;
}

.otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.otp-field input {
    height: 65px;
    width: 58px;
    border-radius: 6px;
    outline: none;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #ddd;
}

.otp-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
    display: none;
}

.resend {
    font-size: 12px;
}

.btn-rapat {
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.btn-rapat.active,
.btn-rapat:disabled {
    background-color: var(--color-main);
    color: #fff;
    font-size: 19px;
    font-weight: 600;
}




/* FOOTER */
.title-footer {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-main);
    text-align: center;
}

.section-footer {
    width: 100%;
    padding-bottom: 15px;
    margin-top: 50px;
}

@media (min-width: 576px) {
    .section-footer {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .section-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .section-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .section-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .section-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

/* CALLOUT */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.bs-callout h4 {
    margin-top: 0;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

.dot.list {
    list-style-type: disc;
}

/* Themes for different contexts */
.bs-callout-success {
    background-color: #D1E7DD;
    border-color: #008f4f;
}

.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #d9534f;
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f0ad4e;
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #5bc0de;
}

/* Css Change Password */



/* CSS Form Absensi */

:root {
    --form-control-color: #405C98;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container-form {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.container-form header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container-form p {
    font-size: 1rem;
    color: #333;
    text-align: center;
}

.container-form .form {
    margin-top: 0px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #333;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #007bff;
}

/* .form .column {
  display: flex;
  column-gap: 15px;
} */

.form .status-box {
    margin-top: 20px;
}

.status-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.status-option, .status) {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    flex-direction: row;
}

.form .status {
    column-gap: 5px;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #405C98;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.form :where(.status input, .status label) {
    cursor: pointer;
}

.status label {
    color: #707070;
}

.form button {
    height: 55px;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #405C98;
}

.form button:hover {
    background: #6b85be;
    color: white;
}

/*Responsive*/
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }

    .form :where(.status-option, .status) {
        row-gap: 15px;
    }
}

/* bagian loader */
.inputcontainer {
    position: relative;
}

.inputcontainer input {
    width: 100%;
    /* margin-top: 20px; */
}

.form .inputcontainer {
    width: 100%;
    margin-top: 20px;
}

.inputcontainer label {
    color: #333;
}

.note {
    background-color: #cff4fc;
    border-left: 6px solid #9eeaf9;
    padding: 1.25rem;
}

.note p {
    color: #055160;
    text-align: justify;
    align-self: start;
    margin-bottom: 0;
    font-size: 16px;
}

/* bagian tanda tangan */
.signature-pad {
    width: 100%;
    /* max-width: 565px; */
}

.signature-pad h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.input-box .signature-button {
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    right: 0px;
}

.signature-canvas {
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    cursor: crosshair;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
}

/* car yang bari */
.search {
    height: 50px;
    color: #333;
    -webkit-box-align: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0.5em 0;
    padding: 0.5em 0.5em 0.5em 1em;
    -webkit-transition: border-color 0.3s ease;
    /* Adjust the duration here */
    transition: border-color 0.3s ease;
    /* Adjust the duration here */
    width: 100%;
}

.search a,
.search input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    outline: 0;
}

#cariNikButton i {
    font-size: 23px;
    /* color: #333; */
    color: #22b2a9;
}

#loadingIndicator {
    font-size: 23px;
    /* color: #333; */
    color: #22b2a9;
}

.search a {
    cursor: pointer;
    padding: 0 0.25em;
}

.search input {
    -webkit-box-flex: 1;
    flex: 1;
    /* font-weight: 500; */
    font-size: 1rem;
}

/* tambahan invalid */
.invalid-input {
    border: 1px solid #dc3545;
    /* border-color: 1px solid #dc3545; */
}

.invalid-input-radio {
    color: #dc3545 !important;
}

.invalid-response {
    color: #dc3545;
    font-size: 0.8rem;
    margin-top: 5px;
}

.disabled-button {
    pointer-events: none;
    /* Prevents the anchor from being clickable */
    opacity: 0.6;
    /* Reduces the opacity to visually indicate it's disabled */
}

.greyed-out-form {
    background-color: #efefef4d;
    /* Change the background color to grey */
    pointer-events: none;
    /* Prevents interactions with the form */
}