/* .navbar-nav .nav-item .nav-link i {
  color: white;
} */
label {
  display: block;
  margin-bottom: 8px;
}

.label-req {
  display: block;
  margin-top: 20px;
}

.form-control {
  width: 100%;
  padding: 8px;
}

#requirements-list {
  display: flex;
  margin-top: 20px;
}

#requirements-list-custom {
  display: flex;
}

#requirements-1 {
  list-style-type: none;
  margin-right: 15px;
  padding: 0;
}

#requirements-2 {
  list-style-type: none;
  padding: 0;
}

#requirements li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

#requirements-1 i {
  margin-right: 8px;
}

#requirements-2 i {
  margin-right: 8px;
}

/* Warna merah untuk ikon silang */
#requirements-list ul i.fa-times-circle {
  color: #dc3545;
}

/* Warna hijau untuk ikon centang */
#requirements-list ul i.fa-check-circle {
  color: #28a745;
}

#requirements-list-custom ul i.fa-times-circle {
  color: #dc3545;
}

/* Warna hijau untuk ikon centang */
#requirements-list-custom ul i.fa-check-circle {
  color: #28a745;
}

.invalid-feedback {
  display: block;
  bottom: -1.5rem;
  /* Atur jarak di bawah input, misalnya -1.5rem atau sesuai kebutuhan */
  left: 0;
  /* Atur posisi horizontal ke kiri */
  transform: none;
  /* Hapus transform */
}

.invalid-feedback-custom{
  color: #dc3545;
  display: block;
  position: absolute;
  /* Atur jarak di bawah input, misalnya -1.5rem atau sesuai kebutuhan */
  transform: none;
  /* Hapus transform */
}

.password-input-container {
  position: relative;
}

.password-toggle-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-40%);
  cursor: pointer;
}

.toggle-new{
  position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-40%);
    cursor: pointer;
}

.toggle-confirm {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-40%);
  cursor: pointer;
}

.toggle-confirm-2 {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-40%);
  cursor: pointer;
}

.toggle-new i{
  font-size: 1.2em;
}

.toggle-confirm i {
  font-size: 1.2em;
}

.toggle-confirm-2 i {
  font-size: 1.2em;
}

.password-toggle-btn i {
  font-size: 1.2em;
}

#submit{
  margin-top: 20px;
}

/* CSS umum di sini */

/* Media query untuk perangkat dengan lebar maksimum 480 pixel */
@media only screen and (max-width: 480px) {
  
}

/* Media query untuk perangkat dengan lebar antara 481 dan 768 pixel */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  
}

/* Media query untuk perangkat dengan lebar antara 769 dan 1024 pixel */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

/* Media query untuk perangkat dengan lebar antara 1025 dan 1200 pixel */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {}

/* Media query untuk perangkat dengan lebar minimum 1201 pixel */
@media only screen and (min-width: 1201px) {
  
}