/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(130, 106, 251);
} */
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container p {
  font-size: 1rem;
  color: #333;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #333;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-color: #007bff;
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .status-box {
  margin-top: 20px;
}
.status-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.status-option, .status) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
  align-items: baseline;
}
.form .status {
  column-gap: 5px;
}
.status input {
  accent-color: #0d6efd;
}
.form :where(.status input, .status label) {
  cursor: pointer;
}
.status label {
  color: #707070;
}

.form button {
  height: 55px;
  border-radius: 5px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #0d6efd;
}
.form button:hover {
  background: #0b5ed7;
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.status-option, .status) {
    row-gap: 15px;
  }
}

/* bagian loader */
.inputcontainer {
  position: relative;
}

.inputcontainer input {
  width: 100%;
  /* margin-top: 20px; */
}
.form .inputcontainer {
  width: 100%;
  margin-top: 20px;
}
.inputcontainer label {
  color: #333;
}

/* bagian tanda tangan */
.signature-pad {
  width: 100%;
  /* max-width: 565px; */
}
.signature-pad h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.input-box .signature-button {
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  right: 25px;
}

.signature-canvas {
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  cursor: crosshair;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
}

/* car yang bari */
.search {
  height: 50px;
  color: #333;
  -webkit-box-align: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0.5em 0;
  padding: 0.5em 0.5em 0.5em 1em;
  -webkit-transition: border-color 0.3s ease; /* Adjust the duration here */
  transition: border-color 0.3s ease; /* Adjust the duration here */
  width: 100%;
}

.search a,
.search input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  outline: 0;
}

#cariNikButton i {
  font-size: 23px;
  /* color: #333; */
  color: #0d6efd;
}

#loadingIndicator {
  font-size: 23px;
  /* color: #333; */
  color: #0d6efd;
}
.search a {
  cursor: pointer;
  padding: 0 0.25em;
}
.search input {
  -webkit-box-flex: 1;
  flex: 1;
  /* font-weight: 500; */
  font-size: 1rem;
}

/* tambahan invalid */
.invalid-input {
  border: 1px solid #dc3545;
  /* border-color: 1px solid #dc3545; */
}

.invalid-input-radio {
  color: #dc3545 !important;
}

.invalid-response {
  color: #dc3545;
  font-size: 0.8rem;
  margin-top: 5px;
}

.disabled-button {
  pointer-events: none;
  /* Prevents the anchor from being clickable */
  opacity: 0.6;
  /* Reduces the opacity to visually indicate it's disabled */
}

.greyed-out-form {
  background-color: #efefef4d;
  /* Change the background color to grey */
  pointer-events: none;
  /* Prevents interactions with the form */
}
