.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  /* background-color: rgba(255, 255, 255, 0.452); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  max-width: 100%; /* Menetapkan lebar maksimum sesuai lebar body */
  overflow-x: auto;
  margin-right: 0px;
  margin-left: 0px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 50%;
}

body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
}

.landing-page .content .section-2 {
  width: auto;
  height: auto;
  /* background-color: rgb(235, 254, 255); */
}

.landing-page .content .container-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

.landing-page .content .logo img {
  width: 250px;
}

.landing-page .content .info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.landing-page .content .info h1 {
  /* color: #0357ad; */
  color: #22b2a9;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.landing-page .content .info h2 {
  color: #838383;
  /* color: #22B2A9; */
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #000000;
}
.landing-page .content .formid button {
  border: none;
  width: 400px;
  height: 50px;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  color: #fff;
  /* background-color: #0466ed; */
  background-color: #22b2a9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.formid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 50px; */
  padding-bottom: 180px;
  margin: auto;
  width: 500px;
  height: auto;
  text-align: center;
  border: 100px black;
  border-radius: 15px;
  /* box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.205); */
  /* background: rgba(255, 255, 255, 0.9); */
  box-sizing: border-box;
}

.formid .form-input {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.formid .input-kode {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formid input {
  /*transparran */
  background: rgba(255, 255, 255, 0);
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 16px;
  margin: 0 3.2px;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #6e6e6e;
  outline: none;
}

.invalid-input {
  /* border: 1px solid #dc3545; */
  border-bottom: 2px solid #dc3545 !important;
  /* border-color: 1px solid #dc3545; */
}
.invalid-response {
  position: absolute;
  display: block;
  color: #dc3545;
  bottom: -1.5rem;
  transform: none;
}

.formid input + input {
  margin-left: 4px;
}

.formid input:focus {
  border-bottom: 2px solid #007bff;
}

/* bagian timeline */
.timeline {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: 80px;
  box-sizing: border-box;
}
.timeline li {
  position: relative;
  list-style: none;
}
.timeline li .item {
  position: relative;
  min-height: 50px;
  padding: 0 20px 20px 30px;
  border-left: 4px solid #24b1ad;
}
.timeline li:hover .item span {
  background: #1a857d;
}
.timeline li:last-child .item {
  border-left: 4px solid transparent;
}
.timeline li .item span {
  font-size: 20px;
  position: absolute;
  top: -8px;
  left: -22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #24b1ad;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
}
.timeline li .item h3 {
  font-size: 16px;
  color: #3ba7a4;
}
.timeline li .item p {
  text-align: justify;
  font-size: 14px;
}
.timeline li .item h3,
.timeline li .item p {
  margin: 0;
  padding: 0;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: auto;
  }

  .timeline {
    margin-left: 35px;
  }
  .content-wrapper {
    max-width: 100%;
  }
  .formid input {
    width: 100%;
    height: 40px;
  }
  .formid {
    width: 300px;
    padding: 25px;
  }
  .landing-page .content .info h1 {
    font-size: 30px;
  }
  .landing-page .content .info h2 {
    font-size: 30px;
  }

  .landing-page .content .formid button {
    width: 100%;
    height: 40px;
  }
  .landing-page .content .container-info {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .timeline {
    margin-left: 35px;
  }
  .content-wrapper {
    max-width: 100%;
  }
  .formid input {
    width: 100%;
    height: 40px;
  }
  .formid {
    width: 350px;
    padding: 25px;
  }
  .landing-page .content .info h1 {
    font-size: 40px;
  }
  .landing-page .content .info h2 {
    font-size: 40px;
  }
  .landing-page .content .formid button {
    width: 100%;
    height: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .timeline {
    margin-left: 100px;
    margin-right: 60px;
  }
  .content-wrapper {
    max-width: 100%;
  }
  .formid input {
    width: 100%;
    height: 40px;
  }
  .formid {
    width: 350px;
    padding: 25px;
  }
  .landing-page .content .info h1 {
    font-size: 40px;
  }
  .landing-page .content .info h2 {
    font-size: 40px;
  }
  .landing-page .content .formid button {
    width: 100%;
    height: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .row {
    flex-direction: row;
  }
  .timeline {
    margin-left: 60px;
    margin-right: 0px;
  }
  .content-wrapper {
    max-width: 50%;
  }
  .formid input {
    width: 100%;
    height: 50px;
  }
  .formid {
    width: 400px;
    padding: 30px;
  }
  .landing-page .content .info h1 {
    font-size: 45px;
  }
  .landing-page .content .info h2 {
    font-size: 45px;
  }
  .landing-page .content .formid button {
    width: 100%;
    height: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .row {
    flex-direction: row;
  }
  .timeline {
    margin-left: 60px;
    margin-right: 0px;
  }
  .content-wrapper {
    max-width: 50%;
  }
  .formid input {
    width: 50px;
    height: 50px;
  }

  .formid .form-input input {
    width: 400px;
  }
  .formid {
    width: 400px;
    padding: 25px;
  }
  .landing-page .content .formid button {
    width: 350px;
    height: 50px;
  }
}
@media only screen and (min-width: 1400px) {
  .row {
    flex-direction: row;
  }
  .timeline {
    margin-left: 70px;
    margin-right: 0px;
  }
  .content-wrapper {
    max-width: 50%;
  }
  .formid input {
    width: 100%;
    height: 50px;
  }
  .formid {
    width: 450px;
    padding: 25px;
    align-items: center;
  }
  .landing-page .content .info h1 {
    font-size: 50px;
  }
  .landing-page .content .info h2 {
    font-size: 50px;
  }
  .landing-page .content .container-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
  }
  .landing-page .content .formid button {
    margin-top: 30px;
    width: 100%;
    height: 50px;
  }
}
@media only screen and (min-width: 1920px) {
  .row {
    flex-direction: row;
  }
  .timeline li .item span {
    font-size: 35px;
    position: absolute;
    top: -8px;
    left: -40px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: #24b1ad;
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
  }
  .timeline {
    margin-left: 90px;
    margin-right: 0px;
  }
  .timeline li .item {
    position: relative;
    min-height: 50px;
    padding: 0 20px 20px 50px;
    border-left: 10px solid #24b1ad;
  }
  .timeline li:last-child .item {
    border-left: 10px solid transparent;
  }
  .timeline li .item h3 {
    font-size: 30px;
  }
  .timeline li .item p {
    font-size: 22px;
  }
  .content-wrapper {
    max-width: 50%;
  }
  .formid input {
    width: 100%;
    height: 80px;
    font-size: 25px;
  }
  .formid {
    width: 600px;
    padding: 25px;
  }
  .landing-page .content .info h1 {
    font-size: 70px;
  }
  .landing-page .content .info h2 {
    font-size: 70px;
  }
  .landing-page .content .container-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 70px;
  }
  .formid .form-p p {
    font-size: 25px;
  }

  .landing-page .content .formid button {
    width: 100%;
    height: 70px;
    margin-top: 45px;
    font-size: 25px;
    font-weight: 300;
    border-radius: 10px;
  }

  .invalid-response {
    position: absolute;
    display: block;
    color: #dc3545;
    bottom: -2.5rem;
    transform: none;
    font-size: 25px;
  }

  .formid .input-kode {
    font-size: 25px;
  }

}
@media only screen and (min-width: 3840px) {
  .row {
    flex-direction: row;
  }
  .timeline li .item span {
    font-size: 70px;
    position: absolute;
    top: -8px;
    left: -90px;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background: #24b1ad;
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
  }
  .timeline {
    margin-left: 200px;
    margin-right: 0px;
    margin-top: 100px;
  }
  .timeline li:last-child .item {
    border-left: 25px solid transparent;
  }
  .timeline li .item {
    position: relative;
    min-height: 50px;
    padding: 0 20px 20px 100px;
    border-left: 25px solid #24b1ad;
  }
  .timeline li .item h3 {
    font-size: 60px;
  }
  .timeline li .item p {
    font-size: 50px;
  }
  .content-wrapper {
    max-width: 50%;
  }
  .formid input {
    width: 100%;
    height: 150px;
    font-size: 50px;
  }
  .formid {
    width: 1150px;
    padding: 25px;
  }
  .landing-page .content .info h1 {
    font-size: 140px;
  }
  .landing-page .content .info h2 {
    font-size: 140px;
  }
  .landing-page .content .container-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 180px;
  }
  .formid .form-p p {
    font-size: 50px;
    margin-bottom: 40px;
  }

  .landing-page .content .formid button {
    margin-top: 90px;
    width: 100%;
    height: 130px;
    font-size: 50px;
    font-weight: 300;
    border-radius: 15px;
  }
  .invalid-response {
    position: absolute;
    display: block;
    color: #dc3545;
    bottom: -5rem;
    transform: none;
    font-size: 50px;
  }
  .formid .input-kode {
    font-size: 50px;
  }

}
