.landing-page .content .section-1 {
  /* background-image: url("https://iili.io/JfZ5ubR.png"); */
  width: auto;
  height: 625px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
}

.landing-page .content .section-2 {
  width: 1000x;
  height: auto;
  /* background-color: rgb(235, 254, 255); */
}

/* @media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px;
  }
} */

.landing-page .content .container-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 50px;
}

.landing-page .content .logo img {
  width: 250px;
}

.landing-page .content .info {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.landing-page .content .info h1 {
  color: #0357ad;
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
}

.landing-page .content .info h2 {
  color: #838383;
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #000000;
}
.landing-page .content .formid button {
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 0px 14px 14px 0px;
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #0466ed;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.formid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  margin: auto;
  width: 700px;
  height: auto;
  text-align: center;
  border: 100px black;
  border-radius: 15px;
  box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.205);
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
}

.formid .form-input {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.formid input {
  width: 550px;
  height: 50px;
  border-radius: 14px 0px 0px 14px;
}



/* bagian timeline */

.circle {
  padding: 16px 20px;
  border-radius: 30%;
  background-color: #004891;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}
.container-timeline p {
  color: #000000;
  text-align: justify;
}
.container-timeline h2 {
  color: #0357ad;
  font-weight: bold;
}

.connecting-lines.row .col-2 {
  align-self: stretch;
}
.connecting-lines.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #0357ad;
  z-index: 1;
  /* left: 50%; */
}
.connecting-lines.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.connecting-lines.row .col-2.full::after {
  height: 100%;
  /* left: calc(50%); */
  /* left: 50%; */
  right: 50%;
}
.connecting-lines.row .col-2.full.left::after {
  height: 100%;
  left: 50%;
}
.connecting-lines.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
  width: 900px;
}
.timeline hr {
  border-top: 3px solid #0357ad;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #0357ad;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -53%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -53%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

/*  RESPONSIVE MEDIA QUERRY */

/* RESPONSIVE */
@media (max-width: 992px) {
    .landing-page .content .info {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
  .landing-page .content .section-1 {
    height: 500px;
  }
  .formid {
    width: 380px;
    padding: 25px;
  }
  .landing-page .content .info h1 {
    font-size: 45px;
  }.landing-page .content .info h2 {
    font-size: 45px;
  }
  .formid input {
    height: 40px;
  }
  .landing-page .content .formid button {
    height: 40px;
  }
}
@media only screen and (min-width: 600px) {
  .formid {
    width: 500px;
    padding: 30px;
  }
  .landing-page .content .info h1 {
    font-size: 50px;
  }.landing-page .content .info h2 {
    font-size: 50px;
  }
  .landing-page .content .section-1 {
    height: 550px;
  }
}
@media only screen and (min-width: 768px) {
  .landing-page .content .section-1 {
    height: 600px;
  }
  .landing-page .content .info h1 {
    font-size: 55px;
  }.landing-page .content .info h2 {
    font-size: 55px;
  }
  .formid {
    width: 700x;
    padding: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .landing-page .content .section-1 {
    height: 625px;
  }
}
@media only screen and (min-width: 1200px) {
  .landing-page .content .info h1 {
    font-size: 60px;
  }.landing-page .content .info h2 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 1400px) {
  .landing-page .content .section-1 {
    height: 700px;
  }
}