.row {
  display: flex;
  flex-wrap: wrap;
  
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;

}

.landing-page .content .section-1 {
  /* background-image: url("https://iili.io/JfZ5ubR.png"); */
  width: auto;
  height: 625px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
}

.landing-page .content .section-2 {
  width: auto;
  height: auto;
  /* background-color: rgb(235, 254, 255); */
}

/* @media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px;
  }
} */

.landing-page .content .container-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-top: 30px; */
  padding-bottom: 30px;
}

.landing-page .content .logo img {
  width: 250px;
}

.landing-page .content .info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.landing-page .content .info h1 {
  /* color: #0357ad; */
  color: #22B2A9;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.landing-page .content .info h2 {
  color: #838383;
  /* color: #22B2A9; */
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #000000;
}
.landing-page .content .formid button {
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 0px 14px 14px 0px;
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
  /* background-color: #0466ed; */
  background-color: #22B2A9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.formid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 50px; */
  padding-bottom: 180px;
  margin: auto;
  width: 500px;
  height: auto;
  text-align: center;
  border: 100px black;
  border-radius: 15px;
  /* box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.205); */
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
}

.formid .form-input {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.formid input {
  width: 400px;
  height: 50px;
  border-radius: 14px 0px 0px 14px;
}

/* bagian timeline */
.timeline {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 40px;
  margin-left: 80px;
  box-sizing: border-box;
}
.timeline li {
  position: relative;
  list-style: none;
}
.timeline li .item {
  position: relative;
  min-height: 50px;
  padding: 0 20px 20px 30px;
  border-left: 4px solid #24b1ad;
}
.timeline li:hover .item span {
  background: #f10505;
}
.timeline li:last-child .item {
  border-left: 4px solid transparent;
}
.timeline li .item span {
  font-size: 20px;
  position: absolute;
  top: -8px;
  left: -22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #24b1ad;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
}
.timeline li .item h3 {
  font-size: 16px;
  color: #3ba7a4;
}
.timeline li .item p {
  text-align: justify;
  font-size: 14px;
}
.timeline li .item h3,
.timeline li .item p {
  margin: 0;
  padding: 0;
  text-align: justify;
}

/* bagian timeline */

/*  RESPONSIVE MEDIA QUERRY */

/* RESPONSIVE */
/* @media (max-width: 992px) {
  .landing-page .content .info {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .landing-page .content .section-1 {
    height: 500px;
  }
  .formid {
    width: 300px;
    padding: 25px;
  }
  .landing-page .content .info h1 {
    font-size: 30px;
  }
  .landing-page .content .info h2 {
    font-size: 30px;
  }
  .formid input {
    width: 100%;
    height: 40px;
  }
  .container-timeline h2 {
    font-size: 30px;
  }
  .landing-page .content .formid button {
    height: 40px;
  }
}
@media only screen and (min-width: 600px) {
  .formid {
    width: 500px;
    padding: 30px;
  }
  .landing-page .content .info h1 {
    font-size: 50px;
  }
  .landing-page .content .info h2 {
    font-size: 50px;
  }
  .container-timeline h2 {
    font-size: 50px;
  }
  .landing-page .content .section-1 {
    height: 550px;
  }
}
@media only screen and (min-width: 768px) {
  .landing-page .content .section-1 {
    height: 600px;
  }
  .landing-page .content .info h1 {
    font-size: 55px;
  }
  .landing-page .content .info h2 {
    font-size: 55px;
  }
  .container-timeline h2 {
    font-size: 55px;
  }
  .formid {
    width: 700x;
    padding: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .landing-page .content .section-1 {
    height: 625px;
  }
}
@media only screen and (min-width: 1200px) {
  .landing-page .content .info h1 {
    font-size: 60px;
  }
  .landing-page .content .info h2 {
    font-size: 60px;
  }
  .container-timeline h2 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 1400px) {
  .landing-page .content .section-1 {
    height: 700px;
  }
} */
