* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border-radius: 0px;
  display: flex;
  justify-content: center;
  background: #cefffd;
  /* width: auto;
  height: 700px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.login-form {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  /* margin-left: 300px; */
  margin-top: 100px;
  /* margin-bottom: 150px; */
}

.login-form h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  height: 50%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  position: absolute
  bottom;
  cursor: pointer;
}

.g-recaptcha {
  /* margin: 0 auto; */
  width: 300px;
  height: 75px;
  display: block;
  transition: right 0.3s ease 0s;
  bottom: -160px;
  right: -146px;
  box-shadow: gray 0px 0px 5px;
  border-radius: 2px;
  overflow: hidden;
}

.login-form button:hover {
  background-color: #0056b3;
}




.password-input-container {
  position: relative;
}

.password-toggle-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-wrapper{
  position: relative;
  margin-bottom: 30px;
}

.invalid-feedback {
  display: block;
  position: absolute;
  bottom: -1.5rem;
  /* Atur jarak di bawah input, misalnya -1.5rem atau sesuai kebutuhan */
  left: 0;
  /* Atur posisi horizontal ke kiri */
  transform: none;
  /* Hapus transform */
}

.password-toggle-btn i {
  font-size: 1.2em;
} 

/* MEDIA QUERRY */

@media (max-width: 767px) {
  
}

/* Media query untuk tablet */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* Media query untuk desktop dengan resolusi 1366 */
@media (min-width: 992px) and (max-width: 1366px) {
  
}

/* Media query untuk desktop dengan resolusi 1920 */
@media (min-width: 1367px) and (max-width: 1920px) {
  
}