@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-main: #337CCF;
    --color-second: #405C98;
    --white: #ffffff;
    --acsent-color: #47536E;
}

body {
    font-family: 'Poppins', sans-serif;
}


.section-top {
    background-color: #fff;
    padding: 10px 0;
}

.section-top .title-top {
    font-size: 25px;
    font-weight: 700;
    color: var(--color-main);
}

.section-top .img-brand {
    width: 45px;
    margin-right: 10px;
}

@media (min-width: 576px) {
    .section-top .title-top {
        font-size: 25px;
    }

    .section-top .img-brand {
        width: 45px;
    }
}

@media (min-width: 768px) {
    .section-top .title-top {
        font-size: 30px;
    }

    .section-top .img-brand {
        width: 50px;
    }
}

@media (min-width: 992px) {
    .section-top .title-top {
        font-size: 30px;
    }

    .section-top .img-brand {
        width: 50px;
    }
}

@media (min-width: 1200px) {
    .section-top .title-top {
        font-size: 30px;
    }

    .section-top .img-brand {
        width: 50px;
    }
}

@media (min-width: 1400px) {
    .section-top .title-top {
        font-size: 30px;
    }

    .section-top .img-brand {
        width: 50px;
    }
}


/* CONTENT */
.section-content {
    min-height: 100vh;
}

.container-qrcode {
    margin-top: 80px;
    margin-bottom: 20px;
}

.container-form {
    margin-top: 80px;
    margin-bottom: 20px;
}

.title-rapat {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    text-align: center;
    color: var(--color-main);
}

.description-list {
    font-size: 16px;
    margin-top: 30px;
    color: var(--acsent-color);
}

.kode-rapat {
    letter-spacing: 5px;
}

.title-scan {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-main);
}

.img-qrcode {
    width: 80%;
}

.title-judul-form {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: var(--acsent-color);
    margin-bottom: 50px;
}

@media (min-width: 576px) {
    .title-rapat {
        font-size: 18px;
        line-height: 18px;
    }

    .description-list {
        font-size: 16px;
    }

    .img-qrcode {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .container-qrcode {
        margin-top: 0;
    }

    .title-rapat {
        font-size: 20px;
        line-height: 20px;
    }

    .description-list {
        font-size: 18px;
    }

    .img-qrcode {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .title-rapat {
        font-size: 25px;
        line-height: 25px;
    }

    .description-list {
        font-size: 20px;
    }

    .img-qrcode {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .title-rapat {
        font-size: 25px;
        line-height: 25px;
    }

    .description-list {
        font-size: 20px;
    }

    .img-qrcode {
        width: 75%;
    }
}

@media (min-width: 1400px) {
    .title-rapat {
        font-size: 25px;
        line-height: 25px;
    }

    .description-list {
        font-size: 20px;
    }

    .img-qrcode {
        width: 65%;
    }
}


.link-rapat:link,
.link-rapat:visited {
    border-radius: 7px;
    padding: 10px;
    border: none;
    background-color: var(--color-main);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.link-rapat:hover {
    background-color: var(--acsent-color);
}

.icon-selesai {
    color: var(--color-main);
    font-size: 240px;
}

/* FORM KODE RAPAT */
.title-deskripsi-aplikasi {
    font-size: 15px;
    font-weight: 500;
}

.img-googleplay {
    height: 70px;
}

.title-kode-rapat {
    font-size: 40px;
    font-weight: 600;
    color: var(--color-main);
}

.description-form-rapat {
    font-size: 16px;
    line-height: 20px;
    color: var(--acsent-color);
    text-align: justify;
}

.otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.otp-field input {
    height: 65px;
    width: 58px;
    border-radius: 6px;
    outline: none;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #ddd;
}

.otp-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
    display: none;
}

.resend {
    font-size: 12px;
}

.btn-rapat {
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.btn-rapat.active,
.btn-rapat:disabled {
    background-color: var(--color-main);
    color: #fff;
    font-size: 19px;
    font-weight: 600;
}




/* FOOTER */
.title-footer {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-main);
    text-align: center;
}

.section-footer {
    width: 100%;
    padding-bottom: 15px;
}

@media (min-width: 576px) {
    .section-footer {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .section-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .section-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .section-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .section-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}


/* RADIO BUTTON */
.myradio {
    display: block;
    position: relative;
    margin-bottom: 12px;
    margin-right: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.myradio input[type="radio"] {
    display: none;
}

.myradio input[type="radio"]+label {
    font-weight: 500;
    font-size: 17px;
    margin-right: 15px;
}

.myradio input[type="radio"]+label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -2px 5px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #405C98;
}

.myradio input[type="radio"]+label span {
    background-color: #fff;
}

.myradio input[type="radio"]:checked+label {
    color: #333;
    font-weight: 600;
}

.myradio input[type="radio"]:checked+label span {
    background-color: #405C98;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
}

.myradio input[type="radio"]+label span,
input[type="radio"]:checked+label span {
    -webkit-transition: background-color 0.24s linear;
    -o-transition: background-color 0.24s linear;
    -moz-transition: background-color 0.24s linear;
    transition: background-color 0.24s linear;
}





/* CALLOUT */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.bs-callout h4 {
    margin-top: 0;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

.dot.list{
    list-style-type: disc;
}

/* Themes for different contexts */
.bs-callout-success {
    background-color: #D1E7DD;
    border-color: #008f4f;
}

.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #d9534f;
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f0ad4e;
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #5bc0de;
}